<html>
   {% load static %}
   <script src="{% static 'roland/jquery/jquery.js' %}"></script>
   <link rel="stylesheet" type="text/css" href="{% static 'roland/bootstrap/css/bootstrap.min.css' %}" />
   <script src="{% static 'roland/highcharts/highcharts.js' %}"></script>
   <script src="{% static 'roland/highcharts/highcharts-more.js' %}"></script>
   <script src="{% static 'roland/highcharts/modules/exporting.js' %}"></script>
   <script src="{% static 'roland/tether/js/tether.min.js' %}"></script>
   <script src="{% static 'roland/bootstrap/js/bootstrap.min.js' %}"></script>
   <link rel="stylesheet" href="{% static 'roland/font-awesome/css/font-awesome.min.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'roland/custom.css' %}" />
   <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=VT323" />
   <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Aclonica" />
   <head>
      <title>
         {% block title %}Page Title{% endblock %}
      </title>
   </head>
   {% block bodyDefinition %}
   <body>
   {% endblock %}
      <div id="banner" class="container-fluid gradient1" alt="Banner">
         <div>
            Rol Management Tool
         </div>
      </div>
      <nav class="gradient2 navbar navbar-toggleable-md navbar-inverse bg-inverse mb-4">
         <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <a class="navbar-brand" href="#">Roland</a>
         <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
               {% block index %}
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'roland:index' %}">Home</a>
               </li>
               {% endblock %}
               {% if user.is_authenticated %}
                  {% block newPublication %}
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'roland:newPublication' %}">New Publication</a>
                  </li>
                  {% endblock %}
                  {% block characters %}
                  <li class="nav-item">
                     <a class="nav-link" href="#">Characters</a>
                  </li>
                  {% endblock %}
                  {% block games %}
                  <li class="nav-item">
                     <a class="nav-link" href="#">Games</a>
                  </li>
                  {% endblock %}
                  {% block Profile %}
                  <li class="nav-item">
                     <a class="nav-link" href="#">Profile</a>
                  </li>
                  {% endblock %}
                  {% block about %}
                  <li class="nav-item">
                     <a class="nav-link" href="#">About us</a>
                  </li>
                  {% endblock %}
               {% endif %}
            </ul>
            <span class="navbar-text menu-right">
               {% if user.is_authenticated %}
                  {{ user.username|title }}(<a href="{% url 'roland:logout' %}">logout</a>)
               {% else %}
                  <a class="nav-link" href="{% url 'roland:login' %}">login</a>
               {% endif %}
            </span>
         </div>
      </nav>
      <div id="main-container" class="container">
      {% block content %}
         Body content
      {% endblock %}
      </div>
      <div id="footer-separator">
      </div>
      <footer class="row gradient1">
         <span id="footer-inner" class="text-muted font-console font-sm">Roland, your rol management web page. By Daniel Ridao.</span>
      </footer>
      {% block javascriptFunctions %}
         <!-- Javascript functions -->
      {% endblock %}
   </body>
</html>