<html>
   {% load static %}
   <script src="{% static 'roland/jquery/jquery.js' %}"></script>
   <link rel="stylesheet" type="text/css" href="{% static 'roland/bootstrap/css/bootstrap.min.css' %}" />
   <script src="{% static 'roland/tether/js/tether.min.js' %}"></script>
   <script src="{% static 'roland/bootstrap/js/bootstrap.min.js' %}"></script>
   <link rel="stylesheet" href="{% static 'roland/font-awesome/css/font-awesome.min.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'roland/custom.css' %}" />
   <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=VT323" />
   <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Aclonica" />
   <head>
      <title>
         {% block title %}Page Title{% endblock %}
      </title>
   </head>
   <body>
      <div id="banner" class="container-fluid" alt="Banner">
         <div>
         Roland
         </div>
      </div>
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse mb-4">
         <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <a class="navbar-brand" href="#">Shopping list</a>
         <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
               {% block index %}
               <li class="nav-item">
                  <a class="nav-link" href="#">Home</a>
               </li>
               {% endblock %}
               {% block add %}
               <li class="nav-item">
                  <a class="nav-link" href="#">Add product</a>
               </li>
               {% endblock %}
               {% block adminCategory %}
               <li class="nav-item">
                  <a class="nav-link" href="#">Categories</a>
               </li>
               {% endblock %}
               {% block adminProductType %}
               <li class="nav-item">
                  <a class="nav-link" href="#">Product Types</a>
               </li>
               {% endblock %}
               {% block about %}
               <li class="nav-item">
                  <a class="nav-link" href="#">About us</a>
               </li>
               {% endblock %}
            </ul>
         </div>
      </nav>
      <div id="main-container" class="container">
      {% block content %}
         Body content
      {% endblock %}
      </div>
      <footer class="row">
         <span id="footer-inner" class="text-muted font-console font-sm">Roland, you rol management web page. By Daniel Ridao.</span>
      </footer>
   </body>
</html>