{% extends "roland/basic_template.html" %}
{% block title %}Roland{% endblock %}
{% block index %}
<li class="nav-item active">
  <a class="nav-link" href="{% url 'roland:index' %}">Home <span class="sr-only">(current)</span></a>
</li>
{% endblock %}
{% block content %}
  {% for publication in publications %}
  	<div class="row">
  		<div class="publication col-12">
  			<div class="row">
		  		<div class="col-12 pub_title separator-xs">
		  			<h1>{{publication.title}}</h1>
		  		</div>
		  		<div class="col-9">
		  			<h6>{{publication.author.username|title}}</h6>
		  		</div>
		  		<div class="col-3">
		  			on {{publication.pub_date}}
		  		</div>
		  		<div class="col-12 separator-sm"></div>
		  		<div class="col-12">
			  		{{publication.content|safe}}
			  	</div>
		  	</div>
	  	</div>
  	</div>
  {% endfor %}
{% endblock %}