<html>
   {% load static %}
   <script src="{% static 'pachangapp/jquery/jquery.js' %}"></script>
   <link rel="stylesheet" type="text/css" href="{% static 'pachangapp/bootstrap/css/bootstrap.min.css' %}" />
   <script src="{% static 'pachangapp/highcharts/highcharts.js' %}"></script>
   <script src="{% static 'pachangapp/highcharts/highcharts-more.js' %}"></script>
   <script src="{% static 'pachangapp/highcharts/modules/exporting.js' %}"></script>
   <script src="{% static 'pachangapp/highcharts/themes/dark-unica.js' %}"></script>
   <script src="{% static 'pachangapp/tether/js/tether.min.js' %}"></script>
   <script src="{% static 'pachangapp/bootstrap/js/bootstrap.min.js' %}"></script>
   <link rel="stylesheet" href="{% static 'pachangapp/font-awesome/css/font-awesome.min.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'pachangapp/custom.css' %}" />
   <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=VT323" />
   <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Aclonica" />
   <head>
      <link rel="shortcut icon" href="{%  static 'pachangapp/images/favicon/football.ico' %}">
      <title>
         {% block title %}Page Title{% endblock %}
      </title>
   </head>
   {% block bodyDefinition %}
   <body>
   {% endblock %}
      <div id="banner" class="container-fluid gradient1" alt="Banner">
         <div class="row">
            <div class="col-10">
               PachangAPP
            </div>
            <!-- <div id="logo" class="col-2"></div> -->
         </div>
      </div>
      <nav class="gradient2 navbar navbar-toggleable-md navbar-inverse bg-inverse mb-4">
         <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <a class="navbar-brand" href="#">PachangAPP</a>
         <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
               {% block index %}
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'pachangapp:index' %}">Home</a>
               </li>
               {% endblock %}
               {% if user.is_authenticated %}
                  {% block profile %}
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'pachangapp:profile' %}">Profile</a>
                  </li>
                  {% endblock %}
                  {% block stats %}
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'pachangapp:stats' %}">Stats</a>
                  </li>
                  {% endblock %}
               {% endif %}
            </ul>
            <span class="navbar-text menu-right">
               {% if user.is_authenticated %}
                  {{ user.username|title }}(<a href="{% url 'pachangapp:logout' %}">logout</a>)
               {% else %}
                  <a class="nav-link" href="{% url 'pachangapp:login' %}">login</a>
               {% endif %}
            </span>
         </div>
      </nav>
      <div id="main-container" class="container">
      {% block content %}
         Body content
      {% endblock %}
      </div>
      <div id="footer-separator">
      </div>
      <footer class="row gradient3">
         <span id="footer-inner" class="text-muted font-console font-sm">PachangAPP, for you noobs that think you are good at playing football, you are not. By Daniel Ridao.</span>
      </footer>
      {% block javascriptFunctions %}
         <!-- Javascript functions -->
      {% endblock %}
   </body>
</html>