#banner{
	background-color: #005e5a;
	line-height: 100px;
}

#banner div{
	vertical-align: middle;
	color: white;
	font-size: 28px;
}

footer{
	position: fixed;
    margin: 0px !important;
    bottom: 0;
    width: 100%;
    height: 34px;
    background-color: #00382d;
}

#footer-inner{
	text-align: center;
    width: 100%;
    color: white !important;
}

.gradient1{
	background: rgba(1,71,51,1);
	background: -moz-linear-gradient(top, rgba(1,71,51,1) 0%, rgba(0,13,11,1) 28%, rgba(1,31,22,1) 60%, rgba(1,26,18,1) 79%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(1,71,51,1)), color-stop(28%, rgba(0,13,11,1)), color-stop(60%, rgba(1,31,22,1)), color-stop(79%, rgba(1,26,18,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(1,71,51,1) 0%, rgba(0,13,11,1) 28%, rgba(1,31,22,1) 60%, rgba(1,26,18,1) 79%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(1,71,51,1) 0%, rgba(0,13,11,1) 28%, rgba(1,31,22,1) 60%, rgba(1,26,18,1) 79%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(1,71,51,1) 0%, rgba(0,13,11,1) 28%, rgba(1,31,22,1) 60%, rgba(1,26,18,1) 79%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(1,71,51,1) 0%, rgba(0,13,11,1) 28%, rgba(1,31,22,1) 60%, rgba(1,26,18,1) 79%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#014733', endColorstr='#000000', GradientType=0 );
}

.gradient2{
	background: rgba(66,66,66,1);
	background: -moz-linear-gradient(top, rgba(66,66,66,1) 0%, rgba(0,0,0,1) 7%, rgba(0,0,0,1) 21%, rgba(17,17,17,1) 49%, rgba(28,28,28,1) 61%, rgba(19,19,19,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(66,66,66,1)), color-stop(7%, rgba(0,0,0,1)), color-stop(21%, rgba(0,0,0,1)), color-stop(49%, rgba(17,17,17,1)), color-stop(61%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
	background: -webkit-linear-gradient(top, rgba(66,66,66,1) 0%, rgba(0,0,0,1) 7%, rgba(0,0,0,1) 21%, rgba(17,17,17,1) 49%, rgba(28,28,28,1) 61%, rgba(19,19,19,1) 100%);
	background: -o-linear-gradient(top, rgba(66,66,66,1) 0%, rgba(0,0,0,1) 7%, rgba(0,0,0,1) 21%, rgba(17,17,17,1) 49%, rgba(28,28,28,1) 61%, rgba(19,19,19,1) 100%);
	background: -ms-linear-gradient(top, rgba(66,66,66,1) 0%, rgba(0,0,0,1) 7%, rgba(0,0,0,1) 21%, rgba(17,17,17,1) 49%, rgba(28,28,28,1) 61%, rgba(19,19,19,1) 100%);
	background: linear-gradient(to bottom, rgba(66,66,66,1) 0%, rgba(0,0,0,1) 7%, rgba(0,0,0,1) 21%, rgba(17,17,17,1) 49%, rgba(28,28,28,1) 61%, rgba(19,19,19,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#131313', GradientType=0 );
}

#footer-separator{
	height: 90px;
}

.menu-right a{
	padding: 0px;
}

.form-blank-label{
	min-height: 32px;
}

.publication{
	margin-bottom: 20px;
}

.publication .pub_title{
	color: #007b68;
	border-bottom: 2px solid;
}

.separator-xs{
	margin-bottom: 2px;
}

.separator-sm{
	margin-bottom: 5px;
}