body{
	background: white url("images/background.jpg") no-repeat right bottom;
}

.min-height-200{
	min-height: 200px;
}

.background-blue{
	background-color: blue;
}

.background-red{
	background-color: red;
}

.background-green{
	background-color: green;
}

li a {
	color: green;
}