body{
	background: white url("images/background.jpg") no-repeat right bottom;
	color: white;
}

footer{
    position: absolute;
    margin: 0px !important;
    bottom: 0;
    width: 100%;
    height: 34px;
    background-color: #f5f5f5;
}
#heading-title{
	background-color: white;
	font-family: 'Aclonica';
	height: 70px;
    color: black;
    padding-top: 15px;
    padding-left: 25%;
    font-size: 2em;	
}
#main-container{
	width: 100%;
	padding-top: 10px;
}
#footer-inner{
	text-align: center;
    width: 100%;
}

.font-console{
	font-family: 'VT323';
}

.font-md{
	font-size: 24;
}

.font-md{
	font-size: 16;
}