<html>
   {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'shoppinglist/bootstrap/css/bootstrap.min.css' %}" />
   <script src="{% static 'shoppinglist/bootstrap/js/bootstrap.min.js' %}"></script>
   <link rel="stylesheet" type="text/css" href="{% static 'shoppinglist/custom.css' %}" />
   <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=VT323" />
   <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Aclonica" />
   <head>
      
      <title>
         {% block title %}Page Title{% endblock %}
      </title>
      
   </head>
	
   <body>
      <div class="container-fluid">
         <div class="row" id="heading-title">
            Shopping list
         </div>
      </div>
      <div id="main-container">
      {% block content %}
         Body content
      {% endblock %}
      </div>
      <footer class="row">
         <span id="footer-inner" class="text-muted font-console font-sm">Shopping List. By Daniel Ridao and Glori Bunny.</span>
      </footer>
   </body>
</html>